﻿html
	head
		meta(http-equiv='Content-type', content='charset=UTF-8')
		title PDF Converter
	body
		div
			form(method='POST') 
				// Form Name
				legend Введите данные:
				// Text input
				p Название события: 
				input(name='textEvent', type='text', placeholder='', required='')
				// Text input
				p Дата:
				input(name='textDate', type='date', placeholder='', required='')
				// Text input
				p Название компании: 
				input(name='textCompanyName', type='text', placeholder='', required='')
				// Text input
				p Имя пользователя: 
				input(name='textUserFirstName', type='text', placeholder='', required='')
				// Text input
				p Фамилия пользователя: 
				input(name='textUserLastName', type='text', placeholder='')
				// Text input
				p Адрес: 
				input(name='textAddress', type='text', placeholder='', required='')
				// Text input
				p Email
				input(name='textEmail', type='email', placeholder='', required='')
				// Text input
				p Телефон #1
				input(name='textTel1', type='text', placeholder='', required='')
				// Text input
				p Телефон #2
				input(name='textTel2', type='text', placeholder='')
				// Button
				p
				input(type='submit')